<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServe</display-name>
    <servlet-name>AddServe</servlet-name>
    <servlet-class>com.hexa.AddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServe</servlet-name>
    <url-pattern>/AddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Don</display-name>
    <servlet-name>Don</servlet-name>
    <servlet-class>com.hexa.Don</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Don</servlet-name>
    <url-pattern>/Don</url-pattern>
  </servlet-mapping>
</web-app>